doctype html
html
    head
        title Space Facts
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="A website about Space, the Universe, and Everything")
        meta(name="author" content="Michael Bartl")
        meta(name="keywords" content="Space, Universe, Everything, Black Holes, Lagrangian Points, Saturn's Hexagon, Neutron Stars")
        link(rel="stylesheet" type="text/css" href="assets/css/main.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    body
        include ./includes/header.jade
        include ./includes/navbarAbout.jade
        include ./includes/aboutpost.jade
        include ./includes/footer.jade