footer 
    //: url(../img/113H.jpg)
    background-size: cover
    background-color: #CFCFCF
    padding: 5px
    //margin-top: 70px

    p 
        color: rgba(0,0,0,0.5)
        padding-left: 15px
        margin-top: 0px
        font-size: 10px
        text-transform: uppercase
            
    nav
        padding: 10px 0 2px 5px

    a
        display: inline-block
        margin: 0px 10px 0 10px
        color: rgba(0,0,0,0.5)
        font-size: 14px
        font-weight: 300
        text-transform: uppercase
        text-decoration: none
        letter-spacing: 0.5px
        
        &:hover
            color: rgba(0,0,0,0.9)
            text-decoration: none