.first

.row
        .col-md-2
        .col-md-8
            .col-md-4
                .thumbnail
                    img(src="/assets/img/Lagrangian-point.jpg" alt="Lagrangian Points")
                    .caption
                        h3 Lagrangian Points
                        p.text-muted Named after the Italia astronomer Guiseppe Luigi Lagrancia, the 5 Lagrangian points in a panet's orbit are the only one's that have a stable location and are therefore perfect for observation.
                            a(href="../posts/lagrangianpoints.html") Read More

            .col-md-4
                .thumbnail
                    img(src="/assets/img/saturnhexagon.jpg" alt="Saturn's Hexagon")
                    .caption
                        h3 Saturn's Hexagon
                        p.text-muted Persistent hexagonal cloud pattern was found on the north pole of Saturn. Scientists assume that it is a hurricane that has been there for decades or even centuries.
                            a(href="../posts/saturnhexagon.html") Read More

            .col-md-4
                .thumbnail
                    img(src="/assets/img/hires.jpg" alt="Black Hole")
                    .caption
                        h3 Black Holes - brightest objects in the Universe?
                        p.text-muted To find the brightest light you have to look at the darkest places. Accretion discs around black holes produces enough heat to shine hundreds times brighter than galaxies.
                            a(href="../posts/blackholes.html") Read More
        .col-md-2
        

.row
    .col-md-2
    .col-md-8
        .col-md-4
            .thumbnail
                img(src="/assets/img/neutronmountain.jpg" alt="Neutron Star")
                .caption
                    h3 Video: Neutron Stars explained!
                    p.text-muted A beautifully designed animational video explaining the phenomenon of neutron stars.
                        a(href="../posts/neutronstar.html") Watch Video
        .col-md-4
        .col-md-4
    .col-md-2
    
.last