.row
            .col-md-3
            .col-md-6
                .comment
                    .comment-image
                        img(src="/assets/img/fromabove.jpg" alt="Earth from above")
                    .comment-content
                        h1 From Above
                        p Did you know you can now watch Earth's most famous phenomena - aurora, star trails, city lights, and more, in about 4 minutes?
                        a.comment-detail(href="http://youtu.be/rwt3kMivZk4")|Watch Video

                .comment
                    .comment-image
                        img(src="/assets/img/eclipse.jpeg" alt="Solar Eclipse")
                    .comment-content
                        h1 Total Darkness
                        p Did you know that in 2017 a total solar eclipse will cross the USA for the first time in 100 years?
                        a.comment-detail(href="https://medium.com/starts-with-a-bang/weekend-diversion-the-eclipse-of-a-lifetime-is-coming-bf32df48ac62") Read Article
                        
                .comment
                    .comment-image
                        img(src="/assets/img/darkmatter.jpeg" alt="Dark Matter")
                    .comment-content
                        h1 Dark Matter?
                        p Did you know that researchers may have detected possible signals from dark matter?
                        a.comment-detail(href="https://medium.com/starts-with-a-bang/ask-ethan-66-did-we-just-find-dark-matter-1b2f992ac353") Read Article
                        
                .comment
                    .comment-image
                        img(src="/assets/img/nameplanets.jpg" alt="Name a Planet")
                    .comment-content
                        h1 How To Name A Planet
                        p Did you know that there is a company that lets other people than scientists decide on planet names?
                        a.comment-detail(href="http://www.newyorker.com/tech/elements/how-to-name-a-planet") Read Article
                        
                .comment
                    .comment-image
                        img(src="/assets/img/interstellar.jpeg" alt="Interstellar")
                    .comment-content
                        h1 Spoiler: Interstellar Explained!
                        p Did you know that "They" are us, but not really us?
                        a.comment-detail(href="https://medium.com/@wwnorton/an-interstellar-explainer-what-are-bulk-beings-1f0d0d99f847") Read Article
            .col-md-3