footer
    nav
        a(href="../index.html") Home
        a(href="../didyouknow.html") Did you know?
        a(href="../about.html") About Me
        
    p //// Designed by Michael Bartl (c) 2014 ////