.container-fluid
    nav.row
        .col-md-1
        .col-md-10
            ul.nav.nav-tabs
                li: a(href="index.html") Home
                li.active: a(href="") Did you know?
                li: a(href="about.html") About Me
        .col-md-1
