.row
    .col-md-3
    .col-md-6 
        .embed-responsive.embed-responsive-16by9
            iframe(width="560" height="315" src="//www.youtube.com/embed/ZW3aV7U-aik" frameborder="0" allowfullscreen)
        nav
                ul.pager
                    li.disabled
                        a(href="") Older
                    li
                        a(href="/posts/blackholes.html") Newer

    .col-md-3